html{
	scroll-behavior: smooth;
}

@font-face {
  font-family: "decovar";
  font-style: normal;
  font-weight: 400;
  src: url("font/DecovarAlpha-VF.subset.ttf");
}

body {
    background-image: url(img/background_white_pattern.jpg);
    background-attachment: fixed;
}



/* header */
header{
  display: flex;
  justify-content: space-between;
  height:100px;
  margin-top: 40px;
}

.logo{
  display: flex;
  height: fit-content;
}

#baselinelogo{
font-family: "decovar";
font-size: 0.8rem;
letter-spacing: .1rem;
font-weight: 100;
color: #306000;
margin: 0.3em 0px 0px 1em;
}



/* début animation logo */
.logo path{
  fill: transparent;
  stroke-width: 0.7;
  stroke: #306000;
  stroke-dasharray: 45;
  stroke-dashoffset: 45;
  animation-duration : 2s;
 animation-name: animation-logo;
 animation-iteration-count: infinite;
 animation-direction: alternate;
}

.logo:hover path{
  animation: animation-logo 2s ease forwards;
}

@keyframes animation-logo {
  0%
  {
  stroke-dashoffset: 0;
  }
  100%
  {
  stroke-dashoffset: 45;
  }
}
/* fin animation logo */

.abecedaire:hover p{
  letter-spacing: 0.3rem;
  transition: 0.5s ease;
}

/* Début menu burger */
.burger-menu{
	z-index: 70
}
.menu-toggle {
  display: inline-block;
}

.menu-toggle:hover path{
  fill: transparent;
  stroke-width: 2;
  stroke: #306000;
  stroke-dasharray: 30;
  stroke-dashoffset: 30;
  animation-duration : 3s;
  animation-name: animation-menu;
}


@keyframes animation-menu {
  0%
  {
  stroke-dashoffset: 30;
  }
  40%
  {
  stroke-dashoffset: 0;
  }
}


.main-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  right : 100vw;
  height: 100%;
  transition: all 0.5s ease;
  z-index: 999;
  position: fixed;
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
  border-bottom: 1px solid transparent;
  padding-right: 7vw;
  padding-top: 4vh;
  }


.main-menu ul {
  min-height: 100%;
  width: 100vw;
  background: rgba(33, 47, 18, 0.95);
  margin: 0;
  padding: 2.5em 0 0;
  letter-spacing: .1rem;
}

.main-menu a {
  display: block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #F4EFE5;
  text-decoration: none;
  letter-spacing: .3rem;
}

.main-menu a:hover {
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #F4EFE5;
  color:rgba(0, 0, 0, 0);
  letter-spacing: .5rem;
  transition: 0.5s ease;
}

.main-menu:target{
  right: 0;
}

.main-menu:target .menu-close {
  z-index: 1001;
}

.main-menu:target + .backdrop {
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  cursor: default;
}
/* Fin menu burger */







/* Section 2 */

#titre{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 13vh;
  margin-bottom: 13vh;
}

.date {
  transform: rotate(-90deg);
}

.paragraphe{
  margin: 0;
  padding: 0;
}

.titre{
  margin : 0;
  padding-bottom: 20px;
}

h1.titre:hover {
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #306000;
  color:#fff;
  transition: 0.5s ease;
}

.titreparagraphe{
  width: 400px;
  height: fit-content;
  margin-bottom: 5px;
}

.fleche{
  height: fit-content;
  padding-top: 20px;
}

/* Début Animation svg fleche */
.fleche path{
  fill: transparent;
  stroke-width: 2;
  stroke: #306000;
  stroke-dasharray: 45;
  stroke-dashoffset: 45;
  animation-duration : 2s;
 animation-name: animation-logo;
 animation-iteration-count: infinite;
 animation-direction: alternate;
}


@keyframes animation-fleche {
  0%
  {
  stroke-dashoffset: 45;
  }
  40%
  {
  stroke-dashoffset: 0;
  }
}
/* Début Animation svg fleche */

h1{
  font-family: "Decovar Alpha";
  font-size: 4rem;
  letter-spacing: .3rem;
  font-weight: 100;
  color: #306000;
}


p{
  font-family: "decovar";
  font-size: 0.8rem;
  letter-spacing: .1rem;
  font-weight: 100;
  color: #306000;
}


/* Catégories */


#categories{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
  margin-bottom: 20px;
}

.mal-maux{
  width: 400px;
  height: fit-content;
  margin-bottom: 5px;
}

h2{
  font-family: "Decovar Alpha";
  font-size: 2rem;
  letter-spacing: .3rem;
  font-weight: 100;
  color: #306000;
}

h2.mal:hover {
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #306000;
  color:#fff;
  letter-spacing: 0.5rem;
  transition: 0.5s ease;
}
.mal{
margin:0;
margin-bottom: 10px;
}


/* filter */
#filter{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 40%;
  margin: auto;
  margin-bottom: 10vh;
}

.filter{
  font-family: "decovar";
  font-size: 0.8rem;
  letter-spacing: .1rem;
  font-weight: 100;
  color: #306000;
  text-decoration:none;
  text-align:center;
  padding:8px 8px;
  background-color: transparent;
  border:1px solid #306000;
  border-radius: 50px;
  margin: 5px;
}

.filter:hover {
    transform: scale(1.05);
    box-shadow: 4px 2px 3px 1px rgb(68 96 0 / 40%);
		transition-duration: .5s;
		transition-timing-function: ease-out;
}

/* lettres de l'alphabet voyelle */

#lettre{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h3{
  font-family: "Decovar Alpha";
  font-size: 2rem;
  letter-spacing: .3rem;
  font-weight: 50;
  color: #306000;
  text-align: left;
  margin: 5px;
  margin-top: -15px;
}

.images-lettres{
  width: 200px;
}

.fleche-lettres{
  width:30px;
  margin-left:80px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#lettre p{
  font-family: "decovar";
  font-size: 0.8rem;
  letter-spacing: .1rem;
  font-weight: 100;
  color: #306000;
  text-align: left;
  margin: 0;
}


div{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
 height:100px;
 width:100px;
 margin:50px;
 margin-top:20px;
 text-align: center;
 font-size: 50px;
 font-family: "decovar Alpha";
 color:#306000;
}


.muscles{
  display: flex;
  justify-content: flex-start;
  border:2px solid rgba(48, 96, 0, .2);
  border-radius: 500px;
  height: fit-content;
  width:200px;
  padding:20px;
  padding-top: 35px;
}

.muscles:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 5px 1px rgb(68 96 0 / 40%);
		transition-duration: .5s;
		transition-timing-function: ease-out;
}

.tete{
  display: flex;
  justify-content: flex-start;
  border:2px solid rgba(48, 96, 0, .2);
  border-radius: 500px;
  height: fit-content;
  width:200px;
  padding:20px;
  padding-top: 35px;
}

.tete:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 5px 1px rgb(68 96 0 / 40%);
		transition-duration: .5s;
		transition-timing-function: ease-out;
}

.ventre{
  display: flex;
  justify-content: flex-start;
  border:2px solid rgba(48, 96, 0, .2);
  border-radius: 500px;
  height: fit-content;
  width:200px;
  padding:20px;
  padding-top: 35px;
}

.ventre:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 5px 1px rgb(68 96 0 / 40%);
		transition-duration: .5s;
		transition-timing-function: ease-out;
}

.dents{
  display: flex;
  justify-content: flex-start;
  border:2px solid rgba(48, 96, 0, .2);
  border-radius: 500px;
  height: fit-content;
  width:200px;
  padding:20px;
  padding-top: 35px;
}

.dents:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 5px 1px rgb(68 96 0 / 40%);
		transition-duration: .5s;
		transition-timing-function: ease-out;
}


.box-filter{
display: none;
}


/* filtre muscles */
#muscles:target ~ .tete{
  display: none;
}

#muscles:target ~ .ventre{
  display: none;
}

#muscles:target ~ .dents{
  display: none;
}

/* filtre tete */

#tete:target ~ .muscles{
  display: none;
}

#tete:target ~ .ventre{
  display: none;
}

#tete:target ~ .dents{
  display: none;
}

/* filtre ventre */

#ventre:target ~ .muscles{
  display: none;
}

#ventre:target ~ .tete{
  display: none;
}

#ventre:target ~ .dents{
  display: none;
}

/* filtre dents */

#dents:target ~ .muscles{
  display: none;
}

#dents:target ~ .tete{
  display: none;
}

#dents:target ~ .ventre{
  display: none;
}

/* filtre partout */

#partout:target ~ .tete .ventre .muscles .dents{
  display: block;
}





/* Section 2 */

#attention {
  display: flex;
  align-items: center;
}


/* début scroll bar */
div#progress {
	position: fixed;
	z-index: 10;
	right: 0;
	bottom: -50px;
	width: 100vw;
	height: 10px;
	transform-origin: 0 50%;
	transform: scaleX(0);
	background-color: #306000;
	animation: 1s linear forwards adjust-progressbar;
	animation-timeline: progressbar-timeline;
	transform: translateY(-10px);
}



@keyframes adjust-progressbar {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

@scroll-timeline progressbar-timeline {
    time-range: 1s;
		}
/* fin scroll bar */



/* début page lettre A */

/* add custom styling to the scrollbar */
::-webkit-scrollbar {
  transform: translateY(-10px);
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.slide {
  width: 100vw;
  height: 100vh;
  justify-content: unset;
  flex-wrap: unset;
  margin: 0px;
}

.outer-wrapper {
  width: 311vw;
  height: 99vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  justify-content: unset;
  scrollbar-width: none;
  -ms-overflow-style: none;
	margin: 0;
}

/* wrapper containing our slides */
.wrapper {
  display: flex;
  flex-direction: row;
  width: 400vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  overflow-y: hidden;
  height: 100vh;
  justify-content: unset;
	margin: 0;
}

.one {
	display: flex;
  flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 0;
	height: 80vh;
}

.date-page-plante{
	transform: rotate(-90deg);
	margin: 0;
  margin-right: 40px;
}

.nom-plante{
	margin: 0;
	padding: 0;
	width: 75vw;
}

.paragraphe-texte{
	width: 35vw;
}

.fleche-horizontal{
	width: 100vw;
}


.two {
	width: 25vw;
}

.illustration-plante{
	transform: translateX(-40vh);
}

.three {
	display: flex;
  flex-wrap: wrap;
	width: 130vw;
}



@media and (max-width: 768px) {
    -webkit-overflow-scrolling: touch;
}


/* début animation nom-plante */
.nom-plante path{
  fill: transparent;
  stroke-width: 1;
  stroke: #306000;
  stroke-dasharray: 15;
  stroke-dashoffset: 50;
  animation-duration : 2s;
 animation-name: animation-nom-plante;
 animation-iteration-count: infinite;
 animation-direction: alternate;
}

.nom-plante:hover path{
  animation: animation-nom-plante 2s ease forwards;
}

@keyframes animation-nom-plante {
  0%
  {
  stroke-dashoffset: 0;
  }
  100%
  {
  stroke-dashoffset: 50;
  }
}
/* fin animation nom-plante */


.trois-paragraphe{
	width:45vw;
	height: fit-content;
	display: flex;
	justify-content: flex-start;
	margin-left: 10vw;
}

p.lieu-arnica {
    text-align: left;
		margin-bottom: 70px;
		font-family: "decovar";
		font-size: 1rem;
		letter-spacing: .1rem;
}

.arnica-protegee {
    width: 30vh;
		text-align : left;
		opacity: 50%;
		margin: 0;
		margin-right: 50px;
}

.cueillir-arnica {
    width: 30vh;
		text-align : left;
		margin: 0;
		opacity: 50%;
}

.photo-lettre{
	width: 480px;
	margin-left: 60px;
	position: relative;
}

.legende{
	color:#696969;
	transform: rotate(-90deg);
	position: absolute;
	bottom: -345px;
	left: -30px;
	z-index: 55;
}

.ellipse{
	position: absolute;
	z-index: 1;
	bottom: -450px;
	left: -80px;
	width: 40%;
}

.retour{
margin: 20vh;
z-index: 5
}

h2.bouton-retour:hover {
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #306000;
    color: #fff;
    letter-spacing: 0.5rem;
    transition: 0.5s ease;
}



/* Fin page lettre A */
