@font-face {
  font-family: "decovar";
  font-style: normal;
  font-weight: 400;
  src: url("font/DecovarAlpha-VF.subset.ttf");
}

body {
    background-image: url(img/background_white_pattern.jpg);
    background-attachment: fixed;
}

/* header */
header{
  display: flex;
  justify-content: space-between;
  height:100px;
}

.logo{
  display: flex;
  height: fit-content;
}

#baselinelogo{
font-family: "decovar";
font-size: 0.8rem;
letter-spacing: .1rem;
font-weight: 100;
color: #306000;
margin: 0.3em 0px 0px 1em;
}

/* Section 2 */

#titre{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 13vh;
  margin-bottom: 13vh;
}

.date {
  transform: rotate(-90deg);
}

.paragraphe{
  margin: 0;
  padding: 0;
}

.titre{
  margin : 0;
  padding-bottom: 20px;
}

.titreparagraphe{
  width: 400px;
  height: fit-content;
  margin-bottom: 5px;
}

.fleche{
  height: fit-content;
  padding-top: 20px;
}


h1{
  font-family: "Decovar Alpha";
  font-size: 4rem;
  letter-spacing: .3rem;
  font-weight: 100;
  color: #306000;
}


p{
  font-family: "decovar";
  font-size: 0.8rem;
  letter-spacing: .1rem;
  font-weight: 100;
  color: #306000;
}


/* Catégories */


#categories{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
  margin-bottom: 20px;
}

.mal-maux{
  width: 400px;
  height: fit-content;
  margin-bottom: 5px;
}

h2{
  font-family: "Decovar Alpha";
  font-size: 2rem;
  letter-spacing: .3rem;
  font-weight: 100;
  color: #306000;
}

.mal{
margin:0;
}


/* filter */
#filter{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 50%;
  margin: auto;
  margin-bottom: 10vh;
}

.filter-link{
  font-family: "decovar";
  font-size: 0.8rem;
  letter-spacing: .1rem;
  font-weight: 100;
  color: #306000;
  text-decoration:none;
  text-align:center;
  padding:8px 8px;
  background-color: transparent;
  border:1px solid #306000;
  border-radius: 50px;
  margin: 5px;
}



/* lettres de l'alphabet voyelle */

#lettre{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h3{
  font-family: "Decovar Alpha";
  font-size: 2rem;
  letter-spacing: .3rem;
  font-weight: 50;
  color: #306000;
  text-align: left;
  margin: 5px;
  margin-top: -15px;
}

.images-lettres{
  width: 200px;
}

.fleche-lettres{
  width:30px;
  margin-left:80px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#lettre p{
  font-family: "decovar";
  font-size: 0.8rem;
  letter-spacing: .1rem;
  font-weight: 100;
  color: #306000;
  text-align: left;
  margin: 0;
}


div{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
 height:100px;
 width:100px;
 margin:50px;
 -webkit-transition:all .5s linear;
 -moz-transition:all .5s linear;
 -o-transition:all .5s linear;
 -ms-transition:all .5s linear;
 transition:all .5s linear;
 margin-top:20px;
 text-align: center;
 font-size: 50px;
 font-family: "decovar Alpha";
 color:#306000;
}


a:focus[data-filter]{
    opacity:.2;
     outline:none;
}



div[data-filter="voyelle"]{
  display: flex;
  justify-content: flex-start;
  border:2px solid rgba(48, 96, 0, .2);
  border-radius: 500px;
  height: fit-content;
  width:200px;
  padding:20px;
  padding-top: 35px;

}



a[data-filter="voyelle"]:focus ~ div:not([data-filter="voyelle"]){
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;

}


a[data-filter="consonne"]:focus ~ div:not([data-filter="consonne"]){
    width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;

}


/* lettres de l'alphabet consonne */

div[data-filter="consonne"]{
  display: flex;
  justify-content: flex-start;
  border:2px solid rgba(48, 96, 0, .2);
  border-radius: 500px;
  height: fit-content;
  width:200px;
  padding:20px;
  padding-top: 35px;
}

/* Section 2 */

#attention {
  display: flex;
  align-items: center;
}
